.banner-container {
    width: 100%;
    margin: 0 auto; 
    background-image: "../../assets/images/Path.png";
    .banner {
        width: 94%;
        margin: 0 auto;
        margin-left: 4%;
        float: left;
        margin-top: 35px;
        .office-chair-rate {
            float: left;
            width: 8%;
            margin-left: 2%;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            padding-top: 8%;
            span {
                color: #f23587;
            }
            @media (max-width: 599px) {
                width: 100%;  
                text-align: center;
            }
        }
        .office-chair-image {
            float: left;
            width: 15%;
            img{
              //  width: 230px;
            }
            @media (max-width: 599px) {
                width: 100%;  
            }
        }
        .middle-banner {
            float: left;
            width: 22%;
            outline: 1px solid red;
            margin-left: 2%;
            padding: 4%;
            padding-top: 2%;
            padding-bottom: 2%;
            border: 2px solid #ff400b;
            background-color: #ffe7e7;
            font-size: 28px;
            color: #fd3030;
            line-height: 29px;
            text-align: center;
            margin-top: 5%;
            border-radius: 8px;
            span {
                font-weight: normal;
                font-size: 16px;
                color: #000000;
                float: left;
                clear: left;
            }
            @media (max-width: 599px) {
                width: 84%;  
            }
        }
        .sectionals-rate {
            float: left;
            width: 9%;
            margin-left: 3%;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            padding-top: 8%;
            span {
                color: #f23587;
            }
            @media (max-width: 599px) {
                width: 100%; 
                text-align: center; 
            }
        }
        .sectionals-image {
            float: left;
            width: 14%;
            @media (max-width: 599px) {
                width: 100%;  
            }
        }        
    }
}